{% extends 'layout.html.twig' %}

{% trans_default_domain 'student' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %} {{ 'student.new.title' | trans }} {% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="page-title">
            {{ 'student.new.title' | trans }}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row col-12">

        <div class="card">
            {{ form_start(form) }}

            <!-- Card Header -->
            <div class="card-header">
                <h3 class="card-title">{{ 'student.new.title' | trans }}</h3>
                <div class="card-options">
                    <a href="#" class="btn btn-sm btn-gray-dark mr-2"><i class="fe fe-pocket"></i> bulk</a>
                </div>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12">{{ form_row(form.code) }}</div>
                    <div class="col-md-6 col-sm-12">{{ form_row(form.cne) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">{{ form_row(form.firstName) }}</div>
                    <div class="col-md-6 col-sm-12">{{ form_row(form.lastName) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">{{ form_row(form.birthPlace) }}</div>
                    <div class="col-md-6 col-sm-12">{{ form_row(form.birthDate) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div>
                            <label>
                                Study level
                            </label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="oldRegime">
                                <label class="form-check-label" for="inlineRadio1">Old regime</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="NewRegime">
                                <label class="form-check-label" for="inlineRadio2">New regime</label>
                            </div>
                        </div>
                        {% if node.field_checkbox.value == 'oldRegime' %}
                        <div class="col-md-6 col-sm-12">{{ form_row(form.studyLevelOldRegime, { 'label' :  'Study level' }) }}</div>
                        {% else %}
                        <div class="col-md-6 col-sm-12">{{ form_row(form.studyLevelNewRegime, { 'label' :  'Study level' }) }}</div>
                        {% endif %}
                    </div>

                    {#<div class="col-md-6 col-sm-12">{{ form_row(form.studyLevel) }}</div>#}
                    <div class="col-md-6 col-sm-12">{{ form_row(form.stopDate) }}</div>
                </div>

                <div class="row">
                    <div class="col-md-12  col-sm-12">{{ form_row(form.comments) }}</div>
                </div>
            </div>
            <!-- Card Footer -->
            <div class="card-footer">
                <div class="d-flex">
                    <a href="{{ path('student_index') }}" class="btn btn-link">{{'cancel'|trans({},'actions')}}</a>
                    <button type="submit" class="btn btn-primary ml-auto">{{'save'|trans({},'actions')}}</button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
