{% extends 'layout.html.twig' %}

{% trans_default_domain 'student' %}

{% block title %}Student {{ student | upper }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="page-title">
            Student {{ student }}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row col-12">

        <div class="card">

            <!-- Card Header -->
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#student">Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#cert">Certificates</a>
                    </li>
                </ul>
                <div class="card-options">
                    <a href="{{ path('certificate_print', {'id': student.id}) }}" class="btn btn-sm btn-dark mr-2"><i class="fe fe-printer"></i> {{'print'|trans({},'actions')}}</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-sm btn-primary mr-2"><i class="fe fe-file-text"></i> {{'export'|trans({},'actions')}}</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-sm btn-warning mr-2"><i class="fe fe-edit"></i> {{'edit'|trans({},'actions')}}</a>
                    {{ include('student/_delete_form.html.twig') }}
                </div>
            </div>

            <!-- Card Body -->
            <div class="card-body card-tab">
                <div class="tab-content">
                    <div class="tab-pane container active" id="student">
                        {% include 'student/_show_tab_student.html.twig' %}
                    </div>
                    <div class="tab-pane container fade" id="cert">
                        {% include 'student/_show_tab_cert.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
