{% extends 'layout.html.twig' %}

{% trans_default_domain 'student' %}

{% block title %}Student {{ student | upper }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="page-title">
            Student {{ student }}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row col-12">

        <div class="card">

            <!-- Card Header -->
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#student">Student</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#cert">Certificates</a>
                    </li>
                </ul>
                <div class="card-options">
                    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-sm btn-dark mr-2"><i class="fe fe-printer"></i> {{'print'|trans({},'actions')}}</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-sm btn-primary mr-2"><i class="fe fe-file-text"></i> {{'export'|trans({},'actions')}}</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-sm btn-warning mr-2"><i class="fe fe-edit"></i> {{'edit'|trans({},'actions')}}</a>
                    {{ include('student/_delete_form.html.twig') }}
                </div>
            </div>

            <!-- Card Body -->
            <div class="card-body card-tab">
                <div class="tab-content">
                    <div class="tab-pane container active" id="student">
                        <div class="table-responsive">
                            <table class="table card-table table-striped table-vcenter">
                                <tbody>
                                <tr>
                                    <th>{{ 'Code'|trans }}</th>
                                    <td>{{ student.code }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Name'|trans }}</th>
                                    <td>{{ student.firstName ~ ' ' ~ student.lastName }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Cne'|trans }}</th>
                                    <td>{{ student.cne }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Birth place'|trans }}</th>
                                    <td>{{ student.birthPlace }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Birth date'|trans }}</th>
                                    <td>{{ student.birthDate ? student.birthDate|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Stop date'|trans }}</th>
                                    <td>{{ student.stopDate ? student.stopDate|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'Comments'|trans }}</th>
                                    <td>{{ student.comments }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'CreatedAt'|trans }}</th>
                                    <td>{{ student.createdAt ? student.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'UpdatedAt'|trans }}</th>
                                    <td>{{ student.updatedAt ? student.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane container fade" id="cert">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
