{% extends 'layout.html.twig' %}

{% trans_default_domain 'certificate' %}

{% block title %} {{ 'certificate' | trans }} | {{ parent() }}{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <h1 class="page-title">
            {{ 'certificate' | trans }}
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="row col-12">

        <div class="card">

            <!-- Card Header -->
            <div class="card-header">
                {{ 'certificate' | trans }}
            </div>

            <!-- Card Body -->
            <div class="card-body card-tab">
                <div class="table-responsive">
                    <table class="table card-table table-striped table-vcenter">
                        <tbody>
                        <tr>
                            <th>{{ 'student'|trans }}</th>
                            <td>{{ certificate.student }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'code'|trans }}</th>
                            <td><span class="badge badge-default">{{ certificate.code }}</span></td>
                        </tr>
                        <tr>
                            <th>{{ 'number'|trans }}</th>
                            <td>{{ certificate.number }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'createdAt'|trans }}</th>
                            <td>{{ certificate.createdAt ? certificate.createdAt|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'createdBy'|trans }}</th>
                            <td>{{ certificate.createdBy }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'Comments'|trans }}</th>
                            <td>{{ certificate.comments }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
